body
{
	font-family: Arial;
	text-decoration: none;
	color: #000000;
	font-size: 10 px;
}
.Seccion
{
	font-weight: bold;
	font-size: 12px;
	color: White;
	text-decoration: none;
	font-style: normal;
	font-family: Lucida Sans Unicode;
	height: 22px;
	font-variant: normal;
	background-color: #5a9ecf;
	text-align: center;
}
.ComboBox
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: Highlight;
	font-size: 12px;
	background-color:Azure;
	float:none;
}
.ComboBoxImpresion
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color:Black;
	background-color:Azure;
	height: 18px;
	font-size: 12px;
	float:none;
}
.Titulo
{
	font-family: Lucida Sans Unicode;
	text-decoration: none;
	color: CadetBlue;
	height: 20px;
	font-size: 20px;
	width:100%;
}
#pagina{
 height : 230px;
 width : 200px;
 overflow : auto;
}
.loading
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#000099;
	text-align:center;
	cursor:wait;
	z-index:0;
	background-color:Transparent;
	position:absolute;
	height:100%;
	width:100%;
}
.logo{
	height: 49px;
	background-image: url("../imagenes/logo_aforecoppel.png");
	background-repeat: no-repeat;
}
#contenedorPrincipal{
  padding: 5px;
  width: 95%;
  height: 90%;
  margin: auto;
  box-shadow:0px 0px 15px gray;
  -moz-box-shadow:0px 0px 15px gray;
  overflow: hidden;
}
.ui-button-text, .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons
{
	font-size: 0.8em;
	font-weight: bold;
}
#btnBuscarCP
{
	width: : 10px;
	height: 15px;
}
.ui-button-text, .ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons
{
	font-size: 0.8em;
	font-weight: bold;
}
.ui-button
{
	height: 27px;
	padding: 0px 0px 0px 0px;
}
.ui-button .ui-button-text 
{
	display: inline;
	font-size: 16px;
}
#btnConsultaCurp.ui-button.ui-widget.ui-button-text-only .ui-button-text
{
	font-size: 14px;
	font-weight: bold;
}
#tbDatosConstancia td
{
	font-size: 12px;
}
#tbTipoConstancia td
{
	font-size: 12px;	
}
.comboBoxVista
{
	width: 240px;
	font-size: 12px;
	background-color:Azure;
}
.entradaTexto
{
	width: 240px;
	background-color:Azure;
}
.entradaTextoCurp
{
	width: 160px;
	background-color:Azure;
}
#btnBuscarCP.ui-button
{
	height: 18px;
}
#btnConsultaCurp.ui-button.ui-widget.i-button-icon-only
{
	height: 12px;
}
/*.ui-widget-content*/
#divMensaje.ui-dialog-content
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}


.Subtitulo
{
	background-color:#FFFFFF;
	
	background: -moz-linear-gradient(top, #3195ed 0%, #1c85e8 50%, #1074de 51%, #1854b4 100%);
	 
	 background: -webkit-linear-gradient(top, #066eb3 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	 background: -moz-linear-gradient(top, #066eb3 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
	/*background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);*/  
	/*background: -webkit-linear-gradient(top, #3195ed 0%, #1c85e8 50%, #1074de 51%, #1854b4 100%);*/ 
	-moz-border-radius: 9px;
	-webkit-border-radius: 7px;
	
	/*color:#3c72c2;*/
	color:white;
	font-weight: bold;
	text-align:center;
	text-shadow:2px -2px 3px  #000000;
	border-radius: 9px;
	/*text-shadow:1px 1px 3px #0d46b8;*/
	/*-webkit-text-shadow: 3px 3px 1px #fc8;*/
}
	
#bloquea{
	padding: 20px;
	background: white;
	border-radius: 12px;
}

.Espera{
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	/* background: url('http://' location.hostname;'../imagenes/cargando.gif') no-repeat; */
	background: url('../../imagenes/loading.gif') no-repeat;
	margin-bottom: 15px;
	margin-left: 15px;
}

/* LOADER */

.content-loader{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  position: fixed;
  z-index: 99;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  position: fixed;
  margin: 0 auto;
  top: 50% !important;
  left: 50% !important;
  z-index: 100;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.5), -1.8em -1.8em 0 0em rgba(0,128,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.7), 1.8em -1.8em 0 0em #0080ff, 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.5), 1.8em -1.8em 0 0em rgba(0,128,255, 0.7), 2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.5), 2.5em 0em 0 0em rgba(0,128,255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.5), 1.75em 1.75em 0 0em rgba(0,128,255, 0.7), 0em 2.5em 0 0em #0080ff, -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.5), 0em 2.5em 0 0em rgba(0,128,255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.5), -1.8em 1.8em 0 0em rgba(0,128,255, 0.7), -2.6em 0em 0 0em #0080ff, -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.5), -2.6em 0em 0 0em rgba(0,128,255, 0.7), -1.8em -1.8em 0 0em #0080ff;
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #0080ff, 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.5), -1.8em -1.8em 0 0em rgba(0,128,255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.7), 1.8em -1.8em 0 0em #0080ff, 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.5), 1.8em -1.8em 0 0em rgba(0,128,255, 0.7), 2.5em 0em 0 0em #0080ff, 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.5), 2.5em 0em 0 0em rgba(0,128,255, 0.7), 1.75em 1.75em 0 0em #0080ff, 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.5), 1.75em 1.75em 0 0em rgba(0,128,255, 0.7), 0em 2.5em 0 0em #0080ff, -1.8em 1.8em 0 0em rgba(0,128,255, 0.2), -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.5), 0em 2.5em 0 0em rgba(0,128,255, 0.7), -1.8em 1.8em 0 0em #0080ff, -2.6em 0em 0 0em rgba(0,128,255, 0.2), -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.5), -1.8em 1.8em 0 0em rgba(0,128,255, 0.7), -2.6em 0em 0 0em #0080ff, -1.8em -1.8em 0 0em rgba(0,128,255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,128,255, 0.2), 1.8em -1.8em 0 0em rgba(0,128,255, 0.2), 2.5em 0em 0 0em rgba(0,128,255, 0.2), 1.75em 1.75em 0 0em rgba(0,128,255, 0.2), 0em 2.5em 0 0em rgba(0,128,255, 0.2), -1.8em 1.8em 0 0em rgba(0,128,255, 0.5), -2.6em 0em 0 0em rgba(0,128,255, 0.7), -1.8em -1.8em 0 0em #0080ff;
  }
}

/* */